small {
	color: #808080;
}
.preco-old {
	text-decoration: line-through;
	font-style: italic;
}
.preco {
	font-size: 22px;
	font-weight: bold;
}
.glyphicon.glyphicon-star {
	color: #B04632;
}
.panel-primary {
	background-color: #fafafa;
}
.alert {
	margin-bottom: 0px !important;
}
.thumbnail {
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
	min-height: 450px;
}
.thumbnail:hover {
	border-bottom: 5px solid #B04632;
	opacity: 0.7;
}
